@model AnotherBlog.IdentityServer.ViewModels.LogoutViewModel
@{
    ViewData["Title"] = "登出";
}

<div>
    <div class="image">
        <img src="~/css/background.jpg" />
    </div>
    <div class="login">
        <div class="header">
            您已退出登录
        </div>
        <div class="action">
            <div class="btn-login" onclick="ReturnBack()">返回</div>
        </div>
    </div>
</div>
<link href="~/css/login.css" rel="stylesheet" />

<script>
    function AutoRedirect(){
        var autoRedirect = '@Model.AutomaticRedirectAfterSignOut';
        if (autoRedirect == 'True' || autoRedirect == 'true') {
            ReturnBack();
        }
    };
    AutoRedirect();
    function ReturnBack(){
        var url = '@(Model.PostLogoutRedirectUri ?? "/")';
        window.location.href = url;
    }
</script>

